In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as st
import random
import seaborn as sns

In [2]:
#reading csv file

combined_countries= pd.read_csv("/Users/ahmedarslan/Desktop/GitHub/Project 1/Happiness.csv")

In [3]:
combined_countries.head()

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [4]:
combined_countries_without_year = combined_countries[['Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']]

In [5]:
combined_countries_without_year.describe()

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,613.000000
mean,5.446171,5.061744,1.014611,32.166803,0.602518,0.085650,0.416267
std,1.104113,4.324451,0.304179,32.412930,0.228141,0.160419,0.340490
min,2.523000,0.000000,0.000000,0.000000,0.000000,-0.300907,0.000000
25%,4.628750,0.951500,0.810250,0.691500,0.440750,-0.033916,0.082000
50%,5.461100,1.574000,0.922247,1.048500,0.608415,0.098047,0.306000
75%,6.198750,9.482750,1.268750,66.303859,0.797174,0.191000,0.780623
max,7.842000,11.647000,1.644000,76.953000,0.974998,0.598000,0.939000

In [23]:
score_per_country = combined_countries.set_index(["Country or region"])["Score"]

In [24]:
score_per_country

Country or region
Finland        7.632
Norway         7.594
Denmark        7.555
Iceland        7.495
Switzerland    7.487
               ...
Lesotho        3.512
Botswana       3.467
Rwanda         3.415
Zimbabwe       3.145
Afghanistan    2.523
Name: Score, Length: 614, dtype: float64

In [17]:
combined_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country or region             614 non-null    object
 1   Score                         614 non-null    float64
 2   GDP per capita                614 non-null    float64
 3   Social support                614 non-null    float64
 4   Healthy life expectancy       614 non-null    float64
 5   Freedom to make life choices  614 non-null    float64
 6   Generosity                    614 non-null    float64
 7   Perceptions of corruption     613 non-null    float64
 8   Year                          614 non-null    int64
dtypes: float64(7), int64(1), object(1)
memory usage: 43.3+ KB

In [19]:
#separating the happiness score by year 
score_2018 = combined_countries[(combined_countries["Year"] == 2018)]
score_2019 = combined_countries[(combined_countries["Year"] == 2019)]
score_2020 = combined_countries[(combined_countries["Year"] == 2020)]
score_2021 = combined_countries[(combined_countries["Year"] == 2021)]

In [18]:
combined_countries[(combined_countries["Year"] == 2018)]

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [20]:
#Grouping by "country" and taking the mean of each.
country_score_2018 = score_2018.groupby(["Country or region"]).mean ()["Score"]
country_score_2019 = score_2019.groupby(["Country or region"]).mean ()["Score"]
country_score_2020 = score_2020.groupby(["Country or region"]).mean ()["Score"]
country_score_2021 = score_2021.groupby(["Country or region"]).mean ()["Score"]

In [11]:
country_score_2018.head()

Series([], Name: Score, dtype: float64)

In [21]:
scores_by_year = pd.DataFrame({
    "2018": country_score_2018,
    "2019": country_score_2019,
    "2020": country_score_2020,
    "2021": country_score_2021})

In [22]:
scores_by_year

                    2018   2019    2020   2021
Country or region
Afghanistan        3.632  3.203  2.5669  2.523
Albania            4.586  4.719  4.8827  5.117
Algeria            5.295  5.211  5.0051  4.887
Angola             3.795    NaN     NaN    NaN
Argentina          6.388  6.086  5.9747  5.929
...                  ...    ...     ...    ...
Venezuela          4.806  4.707  5.0532  4.892
Vietnam            5.103  5.175  5.3535  5.411
Yemen              3.355  3.380  3.5274  3.658
Zambia             4.377  4.107  3.7594  4.073
Zimbabwe           3.692  3.663  3.2992  3.145

[165 rows x 4 columns]