In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as st
import random
import seaborn as sns

In [48]:
#reading csv file

combined_countries= pd.read_csv("/Users/ahmedarslan/Desktop/GitHub/Project 1/Happiness avg.csv")

In [39]:
combined_countries.head()

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2020
1,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2020
2,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2020
3,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2020
4,Netherlands,7.4489,10.812712,0.939139,72.300919,0.908548,0.207612,0.364717,2020

In [27]:
combined_countries_without_year = combined_countries[['Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']]

In [28]:
combined_countries_without_year.describe()

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,302.000000,302.000000,302.000000,301.000000,301.000000,301.000000,301.000000
mean,5.476591,9.328471,7.497275,64.691668,0.786887,-0.014699,0.732099
std,1.130106,1.290896,116.191318,6.906458,0.115305,0.151220,0.174486
min,-0.059482,0.195445,0.319460,45.200001,0.382000,-0.300907,0.082000
25%,4.761425,8.464182,0.743481,59.302000,0.717000,-0.127015,0.682000
50%,5.512700,9.505480,0.831538,66.404343,0.800000,-0.034000,0.783122
75%,6.228200,10.349437,0.905750,69.495000,0.877000,0.082000,0.847965
max,7.842000,11.647000,2020.000000,76.953000,0.974998,0.560664,0.939000

In [50]:
combined_countries.round(decimals = 2)

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Denmark,7.65,10.77,0.96,72.40,0.95,0.07,0.17,2020
1,Switzerland,7.56,10.98,0.94,74.10,0.92,0.11,0.30,2020
2,Iceland,7.50,10.77,0.97,73.00,0.95,0.25,0.71,2020
3,Norway,7.49,11.09,0.95,73.20,0.96,0.13,0.26,2020
4,Netherlands,7.45,10.81,0.94,72.30,0.91,0.21,0.36,2020
...,...,...,...,...,...,...,...,...,...
296,Lesotho,3.51,7.93,0.79,48.70,0.72,-0.13,0.92,2021
297,Botswana,3.47,9.78,0.78,59.27,0.82,-0.25,0.80,2021
298,Rwanda,3.42,7.68,0.55,61.40,0.90,0.06,0.17,2021
299,Zimbabwe,3.14,7.94,0.75,56.20,0.68,-0.05,0.82,2021
300,Afghanistan,2.52,7.70,0.46,52.49,0.38,-0.10,0.92,2021

In [51]:
score_per_country = combined_countries.set_index(["Country or region"])["Score"]

In [53]:
score_per_country

Country or region
Denmark        7.6456
Switzerland    7.5599
Iceland        7.5045
Norway         7.4880
Netherlands    7.4489
                ...
Lesotho        3.5120
Botswana       3.4670
Rwanda         3.4150
Zimbabwe       3.1450
Afghanistan    2.5230
Name: Score, Length: 301, dtype: float64

In [54]:
combined_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country or region             301 non-null    object
 1   Score                         301 non-null    float64
 2   GDP per capita                301 non-null    float64
 3   Social support                301 non-null    float64
 4   Healthy life expectancy       301 non-null    float64
 5   Freedom to make life choices  301 non-null    float64
 6   Generosity                    301 non-null    float64
 7   Perceptions of corruption     301 non-null    float64
 8   Year                          301 non-null    int64
dtypes: float64(7), int64(1), object(1)
memory usage: 21.3+ KB

In [31]:
#separating the happiness score by year 

score_2020 = combined_countries[(combined_countries["Year"] == 2020)]
score_2021 = combined_countries[(combined_countries["Year"] == 2021)]

In [55]:
combined_countries[(combined_countries["Year"] == 2020)]

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2020
1,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2020
2,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2020
3,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2020
4,Netherlands,7.4489,10.812712,0.939139,72.300919,0.908548,0.207612,0.364717,2020
...,...,...,...,...,...,...,...,...,...
147,Central African Republic,3.4759,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,2020
148,Rwanda,3.3123,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,2020
149,Zimbabwe,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,2020
150,South Sudan,2.8166,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,2020
151,Afghanistan,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,2020

In [33]:
#Grouping by "country" and taking the mean of each.

country_score_2020 = score_2020.groupby(["Country or region"]).mean ()["Score"]
country_score_2021 = score_2021.groupby(["Country or region"]).mean ()["Score"]

In [58]:
country_score_2020.round(decimals = 2).head()

<bound method NDFrame._add_numeric_operations.<locals>.max of Country or region
Afghanistan    2.57
Albania        4.88
Algeria        5.01
Argentina      5.97
Armenia        4.68
Name: Score, dtype: float64>

In [35]:
scores_by_year = pd.DataFrame({
    "2020": country_score_2020,
    "2021": country_score_2021})

In [60]:
scores_by_year.round(decimals = 2)

                   2020  2021
Country or region
Afghanistan        2.57  2.52
Albania            4.88  5.12
Algeria            5.01  4.89
Argentina          5.97  5.93
Armenia            4.68  5.28
...                 ...   ...
Venezuela          5.05  4.89
Vietnam            5.35  5.41
Yemen              3.53  3.66
Zambia             3.76  4.07
Zimbabwe           3.30  3.14

[154 rows x 2 columns]

In [84]:
#top countries by the happiness score and resetting index to start from number 1

top_countries = combined_countries_without_year.sort_values("Score", ascending= False)
top_countries.reset_index(drop=True)
top_countries.index = np.arange(1, len(top_countries) + 1)
top_countries.round(decimals = 2).head(5)

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
1,Finland,7.84,10.78,0.95,72.0,0.95,-0.10,0.19
2,Denmark,7.65,10.77,0.96,72.4,0.95,0.07,0.17
3,Denmark,7.62,10.93,0.95,72.7,0.95,0.03,0.18
4,Switzerland,7.57,11.12,0.94,74.4,0.92,0.02,0.29
5,Switzerland,7.56,10.98,0.94,74.1,0.92,0.11,0.30

In [85]:
#list of countries with the lowest happiness score

lowest_score_countries = combined_countries.sort_values("Score", ascending= True)
lowest_score_countries.reset_index(drop=True)
lowest_score_countries.index = np.arange(1, len(lowest_score_countries) + 1)
lowest_score_countries.round(decimals = 2).head(5)

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
1,Afghanistan,2.52,7.70,0.46,52.49,0.38,-0.10,0.92,2021
2,Afghanistan,2.57,7.46,0.47,52.59,0.40,-0.10,0.93,2020
3,South Sudan,2.82,7.43,0.55,51.00,0.45,0.02,0.76,2020
4,Zimbabwe,3.14,7.94,0.75,56.20,0.68,-0.05,0.82,2021
5,Zimbabwe,3.30,7.87,0.76,55.62,0.71,-0.07,0.81,2020