In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as st
import random
import seaborn as sns

In [2]:
#reading csv file

combined_countries= pd.read_csv("/Users/ahmedarslan/Desktop/GitHub/Project 1/Happiness.csv")

In [3]:
combined_countries.head()

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [10]:
combined_countries_without_year = combined_countries[['Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']]

In [6]:
combined_countries_without_year.describe()

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,613.000000
mean,5.446171,5.061744,1.014611,32.166803,0.602518,0.085650,0.416267
std,1.104113,4.324451,0.304179,32.412930,0.228141,0.160419,0.340490
min,2.523000,0.000000,0.000000,0.000000,0.000000,-0.300907,0.000000
25%,4.628750,0.951500,0.810250,0.691500,0.440750,-0.033916,0.082000
50%,5.461100,1.574000,0.922247,1.048500,0.608415,0.098047,0.306000
75%,6.198750,9.482750,1.268750,66.303859,0.797174,0.191000,0.780623
max,7.842000,11.647000,1.644000,76.953000,0.974998,0.598000,0.939000

In [12]:
#score_per_country = combined_countries.set_index(["Country or region"])["Score"]

In [8]:
#score_per_country

Country or region
Finland        7.632
Norway         7.594
Denmark        7.555
Iceland        7.495
Switzerland    7.487
               ...
Lesotho        3.512
Botswana       3.467
Rwanda         3.415
Zimbabwe       3.145
Afghanistan    2.523
Name: Score, Length: 614, dtype: float64

In [13]:
#separating the happiness score by year 
score_2018 = combined_countries[(combined_countries["Year"] == "2018")]
score_2019 = combined_countries[(combined_countries["Year"] == "2019")]
score_2020 = combined_countries[(combined_countries["Year"] == "2020")]
score_2021 = combined_countries[(combined_countries["Year"] == "2021")]

In [15]:
score_2018

Empty DataFrame
Columns: [Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Year]
Index: []

In [12]:
#Grouping by "country" and taking the mean of each.
country_score_2018 = score_2018.groupby(["Country or region"])["Score"].count()
country_score_2019 = score_2019.groupby(["Country or region"]).mean ()["Score"]
country_score_2020 = score_2020.groupby(["Country or region"]).mean ()["Score"]
country_score_2021 = score_2021.groupby(["Country or region"]).mean ()["Score"]

In [9]:
scores_by_year = pd.DataFrame({
    "2018": country_score_2018,
    "2019": country_score_2019,
    "2020": country_score_2020,
    "2021": country_score_2021})

In [13]:
scores_by_year

Empty DataFrame
Columns: [2018, 2019, 2020, 2021]
Index: []