In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as st
import random
import seaborn as sns

In [25]:
#reading csv file

combined_countries= pd.read_csv("/Users/ahmedarslan/Desktop/GitHub/Project 1/Happiness avg.csv")

In [29]:
combined_countries.head()

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,49172199,-0.059482,0.195445,2020.000000,NaN,NaN,NaN,NaN,NaN
1,Denmark,7.645600,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2020.0
2,Switzerland,7.559900,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2020.0
3,Iceland,7.504500,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2020.0
4,Norway,7.488000,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2020.0

In [27]:
combined_countries_without_year = combined_countries[['Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']]

In [28]:
combined_countries_without_year.describe()

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,302.000000,302.000000,302.000000,301.000000,301.000000,301.000000,301.000000
mean,5.476591,9.328471,7.497275,64.691668,0.786887,-0.014699,0.732099
std,1.130106,1.290896,116.191318,6.906458,0.115305,0.151220,0.174486
min,-0.059482,0.195445,0.319460,45.200001,0.382000,-0.300907,0.082000
25%,4.761425,8.464182,0.743481,59.302000,0.717000,-0.127015,0.682000
50%,5.512700,9.505480,0.831538,66.404343,0.800000,-0.034000,0.783122
75%,6.228200,10.349437,0.905750,69.495000,0.877000,0.082000,0.847965
max,7.842000,11.647000,2020.000000,76.953000,0.974998,0.560664,0.939000

In [23]:
score_per_country = combined_countries.set_index(["Country or region"])["Score"]

In [24]:
score_per_country

Country or region
Finland        7.632
Norway         7.594
Denmark        7.555
Iceland        7.495
Switzerland    7.487
               ...
Lesotho        3.512
Botswana       3.467
Rwanda         3.415
Zimbabwe       3.145
Afghanistan    2.523
Name: Score, Length: 614, dtype: float64

In [30]:
combined_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country or region             302 non-null    object
 1   Score                         302 non-null    float64
 2   GDP per capita                302 non-null    float64
 3   Social support                302 non-null    float64
 4   Healthy life expectancy       301 non-null    float64
 5   Freedom to make life choices  301 non-null    float64
 6   Generosity                    301 non-null    float64
 7   Perceptions of corruption     301 non-null    float64
 8   Year                          301 non-null    float64
dtypes: float64(8), object(1)
memory usage: 21.4+ KB

In [31]:
#separating the happiness score by year 

score_2020 = combined_countries[(combined_countries["Year"] == 2020)]
score_2021 = combined_countries[(combined_countries["Year"] == 2021)]

In [32]:
combined_countries[(combined_countries["Year"] == 2020)]

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
1,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2020.0
2,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2020.0
3,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2020.0
4,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2020.0
5,Netherlands,7.4489,10.812712,0.939139,72.300919,0.908548,0.207612,0.364717,2020.0
...,...,...,...,...,...,...,...,...,...
148,Central African Republic,3.4759,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,2020.0
149,Rwanda,3.3123,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,2020.0
150,Zimbabwe,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,2020.0
151,South Sudan,2.8166,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,2020.0
152,Afghanistan,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,2020.0

In [33]:
#Grouping by "country" and taking the mean of each.

country_score_2020 = score_2020.groupby(["Country or region"]).mean ()["Score"]
country_score_2021 = score_2021.groupby(["Country or region"]).mean ()["Score"]

In [34]:
country_score_2020.head()

Country or region
Afghanistan    2.5669
Albania        4.8827
Algeria        5.0051
Argentina      5.9747
Armenia        4.6768
Name: Score, dtype: float64

In [35]:
scores_by_year = pd.DataFrame({
    "2020": country_score_2020,
    "2021": country_score_2021})

In [36]:
scores_by_year

                     2020   2021
Country or region
Afghanistan        2.5669  2.523
Albania            4.8827  5.117
Algeria            5.0051  4.887
Argentina          5.9747  5.929
Armenia            4.6768  5.283
...                   ...    ...
Venezuela          5.0532  4.892
Vietnam            5.3535  5.411
Yemen              3.5274  3.658
Zambia             3.7594  4.073
Zimbabwe           3.2992  3.145

[154 rows x 2 columns]